@*<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <div class="jquery-script-clear">
        </div>
    </div>
</div>*@
<div class="panel panel-default">
    <div class="panel-heading text-left">
        <span class="glyphicon glyphicon-list-alt"></span><b>Recent Activity</b></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <ul class="demo1">
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="~/NewsTickerImages/1.png" width="60" class="img-responsive img-circle" />
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                                    <a href="#">Read more...</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="~/NewsTickerImages/2.png" width="60" class="img-responsive img-circle" />
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                                    <a href="#">Read more...</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="~/NewsTickerImages/3.png" width="60" class="img-responsive img-circle" />
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                                    <a href="#">Read more...</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="~/NewsTickerImages/4.png" width="60" class="img-responsive img-circle" />
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                                    <a href="#">Read more...</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="~/NewsTickerImages/5.png" width="60" class="img-responsive img-circle" />
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                                    <a href="#">Read more...</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="~/NewsTickerImages/6.png" width="60" class="img-responsive img-circle" />
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                                    <a href="#">Read more...</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                    <li class="news-item">
                        <table cellpadding="4">
                            <tr>
                                <td>
                                    <img src="~/NewsTickerImages/7.png" width="60" class="img-responsive img-circle" />
                                </td>
                                <td>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in venenatis enim...
                                    <a href="#">Read more...</a>
                                </td>
                            </tr>
                        </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>
