@model MyEBooks.Models.ViewModelBase

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VamsiLayout</title>
</head>
<body>
@Model.RenderSoryBy
    <div>
        @RenderBody()
    </div>
</body>
</html>
