@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<h2>
    About</h2>
<div>
    <p>
        Amazing Free eBook Download Site!</p>
    <p>
        Newest Free eBook Share!</p>
    <p>
        Free Download PDF, EPUB, MOBI eBooks.</p>
    <p>
        5000+ IT eBooks Free Download!</p>
    <p>
        No Watermark!</p>
    <p>
        No Spam!</p>
    <p>
        14 Friendly Filehosts Download!</p>
    <p>
        Maximum Speed!</p>
    <p>
        No Registration!</p>
</div>
