@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="container">
    <article class="post-4930 page type-page status-publish entry" itemscope="itemscope"
        itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <header class="entry-header">
            <h1 class="entry-title" itemprop="headline">
                FAQ</h1>
        </header>
        <div class="entry-content" itemprop="text">
            <div class="at-above-post-page" data-url="MyEbook.net" data-title="FAQ">
            </div>
            <p>
                <strong>1. How to free download ebook from ZippyShare.com?</strong></p>
            <ol>
                <li>Click the link under <strong>Free Download Link</strong><br>
                    <a href="~/Images/Faq/step-1.png">
                        <img class="alignnone size-full wp-image-20981 img-responsive" src="~/Images/Faq/step-1.png"
                            alt="step 1" width="748" height="179"></a></li>
                <li>It will take you to a Shorte.st&nbsp;page, just <strong>wait 5 seconds</strong>
                    and click Saltar Publicidad or <strong>Skip ad</strong><br>
                    <a href="~/Images/Faq/step-2.png">
                        <img class="alignnone size-full wp-image-20982 img-responsive" src="~/Images/Faq/step-2.png"
                            alt="step 2" width="748" height="251"></a></li>
                <li>After that you will redirect to ZippyShare.com,&nbsp;click the big button named:<strong>
                    DOWNLOAD NOW</strong><br>
                    <a href="~/Images/Faq/step-3.png">
                        <img class="alignnone size-full wp-image-20983 img-responsive" src="~/Images/Faq/step-3.png"
                            alt="step 3" width="748" height="248"></a></li>
            </ol>
            <p>
                <strong>2. How to free download ebook from embedupload.com?</strong></p>
            <ol>
                <li>Click the link under <strong>Free Download Link</strong></li>
                <li>It will take you to a Shorte.st&nbsp;page, just <strong>wait 5 seconds</strong>
                    and click Saltar Publicidad or <strong>Skip ad</strong></li>
                <li>After that you can choose the download server, say ZippyShare, Uploaded, etc shown
                    on this new page</li>
                <li>Click on the server of your preference</li>
                <li>On this new page appears the link you are waiting for, click it</li>
                <li>Finally, it will lead to the download server where you can obtain the desire publication</li>
            </ol>
            <p>
                <strong>3. How to free download ebook from filepi.com?</strong></p>
            <ol>
                <li>Click the link under <strong>Free Download Link</strong><br>
                    <a href="~/Images/Faq/Step-1-FilePi.png">
                        <img class="alignnone size-full wp-image-20984 img-responsive" src="~/Images/Faq/Step-1-FilePi.png"
                            alt="Step 1" width="750" height="243"></a></li>
                <li>It will take you to a Shorte.st page, just <strong>wait 5 seconds</strong> and <strong>
                    click Skip ad</strong><br>
                    <a href="~/Images/Faq/step-2.png">
                        <img class="alignnone size-full wp-image-20982 img-responsive" src="~/Images/Faq/step-2.png"
                            alt="step 2" width="748" height="251"></a></li>
                <li><strong>Click START DOWNLOAD</strong></li>
            </ol>
            <p>
                <strong>4. How to open file extension&nbsp;<em>PDF?</em></strong></p>
            <ul>
                <li><strong>Adobe Reader</strong>:&nbsp;<em><a title="http://get.adobe.com/reader/otherversions/"
                    href="http://get.adobe.com/reader/otherversions/" target="_blank">http://get.adobe.com/reader/otherversions/</a></em></li>
                <li><strong>Foxit Reader</strong>:&nbsp;<em><a title="http://www.foxitsoftware.com/Secure_PDF_Reader/"
                    href="http://www.foxitsoftware.com/Secure_PDF_Reader/" target="_blank">http://www.foxitsoftware.com/Secure_PDF_Reader/</a></em></li>
                <li><em><em>Read More about file extension PDF:&nbsp;<a title="http://www.file-extensions.org/pdf-file-extension"
                    href="http://www.file-extensions.org/pdf-file-extension" target="_blank">http://www.file-extensions.org/pdf-file-extension</a></em></em></li>
            </ul>
            <p>
                <strong>5. How to open file extension&nbsp;<em>EPUB?</em></strong></p>
            <ul>
                <li><strong>Adobe Digital Edition</strong>:&nbsp;<em><a title="http://www.adobe.com/products/digitaleditions/"
                    href="http://www.adobe.com/products/digitaleditions/" target="_blank">http://www.adobe.com/products/digitaleditions/</a></em></li>
                <li><strong>Calibre</strong>:&nbsp;<em><a title="http://calibre-ebook.com/download"
                    href="http://calibre-ebook.com/download" target="_blank">http://calibre-ebook.com/download</a></em></li>
                <li><em>Read More about file extension EPUB:&nbsp;<a href="http://www.file-extensions.org/epub-file-extension">http://www.file-extensions.org/epub-file-extension</a></em></li>
            </ul>
            <p>
                <strong>6. How to open file extension&nbsp;<em>MOBI?</em></strong></p>
            <ul>
                <li><strong><em>Mobipocket Reader</em></strong>:&nbsp;<em><a title="http://www.mobipocket.com/en/DownloadSoft/ProductDetailsReader.asp"
                    href="http://www.mobipocket.com/en/DownloadSoft/ProductDetailsReader.asp" target="_blank">http://www.mobipocket.com/en/DownloadSoft/ProductDetailsReader.asp</a></em></li>
            </ul>
            <p>
                <strong>7. How to open file extension DJVU?</strong></p>
            <ul>
                <li><strong><em>WinDjView</em></strong>:&nbsp;<em><a title="http://sourceforge.net/projects/windjview/files/"
                    href="http://sourceforge.net/projects/windjview/files/" target="_blank">http://sourceforge.net/projects/windjview/files/</a></em></li>
            </ul>
            <div class="at-below-post-page" data-url="MyEbook.net" data-title="FAQ">
            </div>
        </div>
    </article>
</div>
