@{
    ViewBag.Title = "MyEbook";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    //Layout = "~/Views/Shared/VamsiLayout.cshtml";
}
@model ProductsEStore.Models.ViewModelBase
<h2>Home Page (Index Action) need to be designed</h2>
